@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poopins', sans-serif;
}

body {
  background: black;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  height: 100vh;
  background: url('../images/home.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%
}

.home-content {
  /* background: yellowgreen; */
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}


.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  /* background: yellowgreen; */
}

.home-content .btn-box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 19px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: black;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: black;
  z-index: -1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 350px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.home-sci button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #00abf0;
  background: transparent;
  color: #00abf0;
  text-decoration: none;
  justify-content: space-between;
  font-size: 22px;
  padding: 10px;
}

.home-sci a:hover {
  color: black;
}

.home-sci a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.home-sci a:hover::before {
  width: 100%;

}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0px;
  width: 600px;
  height: 100%;
  background: transparent;
  /*border: 2px solid red;
    */
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  animation: manipActiveHover .1s forwards;
  -webkit-animation: manipActiveHover .1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {

  background: black;
  opacity: .8;
}

.home-imgHover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  -webkit-animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }

}

/* .btn-cv {
    position: absolute;
    bottom: 100px;
    width: 170px;
    /* background: red; */
/* display: flex;
    justify-content: space-between;
  } */

/* .services-section {
    height: 100vh;
    background: black;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 10% 10%
  }
  
  .section-title {
    display: flex;
    border: 2px solid #00abf0;
    padding: 2% 40%;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    text-align: center;
  }

  .services-widget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid red;
    padding: 2% 40%;
    position: relative;
    font-size: 20px;
    font-weight: 60;
    color: #00abf0;
    column-gap: 120px;
  } */



.services-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  align-items: center;
}

.services-section .section-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;
}

.section-title {
  font-size: 50px;
  /* background: -webkit-linear-gradient(#abe2e6, #0e0e3d, #6eaae4); */
  background-image: linear-gradient(to right, rgb(67, 67, 230) , rgb(87, 252, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.services-widget .service-item {
  border-bottom: 1px solid #2a1454;
  padding: 0 30px;
  position: relative;
  z-index: 2;
  gap: 20px;
  /* display: inline-block; */
}

.services-widget .service-item .number {
  color: #8750f7;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.services-widget .service-item .number {
  color: white;
}

.services-widget .service-item .left-box {
  /* width: calc(40% - 10px); */
  padding: 30px 0;
  gap: 20px;
  align-items: center;

}

.services-widget .service-item .left-box .service-title {
  font-size: 30px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.services-widget .service-item .right-box {
  /* width: calc(60% - 10px); */
  padding: 30px 0;
  padding-right: 15%;
}


.my-work
{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  align-items: center;
  /* background-color: black; */
  
}
.my-work .section-header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;

}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}



.my-education
{
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: black;
  align-items: center;
  /* background-color: black; */
  
}
.my-education .section-header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: xx-large;

}
.my-education .tile h1
{
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  color: black;
  font-weight: 400;
}




/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600); */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#ffffff;
	background:rgb(0, 0, 0);
} */

.container-me {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#38d7ff;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: rgb(0, 0, 0);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:rgb(11, 13, 14);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}



footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}